.navbar {
  position: fixed;

  top: 20px;
  left: 50%;

  transform: translateX(-50%);

  width: calc(100% - 32px);
  max-width: 1100px;

  padding: 1rem 1.5rem;

  border-radius: 999px;

  background: rgba(255,255,255,0.2);

  backdrop-filter: blur(12px);

  -webkit-backdrop-filter: blur(12px);

  display: flex;

  justify-content: space-between;
  align-items: center;

  z-index: 1000;


  transition:
  top .35s ease,
  background .35s ease,
  box-shadow .35s ease,
  backdrop-filter .35s ease,
  border .35s ease;
}

.logo {
  font-family: "Cormorant Garamond", serif;

  font-size: 2rem;

  color: white;


  transition: color .35s ease;
}

nav {
  display: flex;

  gap: 1.5rem;
}

nav a {
  text-decoration: none;

  color: white;

  font-size: 0.9rem;

  letter-spacing: 1px;

  transition: 0.3s ease;



  transition:
  color .35s ease,
  opacity .25s ease;
}

nav a:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {

  .navbar {

    top: 12px;

    padding: .75rem 1rem;

  }

  .logo {

    font-size: 1.35rem;

  }

  nav {

    gap: .8rem;

  }

  nav a {

    font-size: .78rem;

  }

}

.scrolled {
  background: rgba(255, 255, 255, 0.92);

  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(0, 0, 0, 0.05);

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);


  top: 12px;
}

.scrolled .logo {
  color: #2b2b2b;
}

.scrolled nav a {
  color: #2b2b2b;
}