* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f8f6f2;

  color: #2b2b2b;

  font-family: "Montserrat", sans-serif;
}

button,
input {
  font-family: inherit;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
}

.fadeIn {
  opacity: 0;

  transform: translateY(30px);

  transition:
    opacity 1s ease,
    transform 1s ease;
}

.fadeIn.visible {
  opacity: 1;

  transform: translateY(0);
}